<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/edit.css">
    <title><%= title %></title>
</head>
<body>
    <div class="container">
    <h1>๐ My To-Do List</h1>

    <!-- Task Form -->
    <form id="todo-form">
      <input type="text" id="taskInput" placeholder="Write your task..." required>
      <button type="submit">Add</button>
    </form>

    <!-- Task List -->
    <ul id="taskList">
      <!-- JS-ีธีพ ีฏีกีพีฅีฌีกีถีกีถ -->
    </ul>
  </div>
    <a href="http://localhost:3000/">Back</a>
</body>
</html>